.gitignore
Billy Resume.pdf
shomberg-resume-full.*
publications.bib

coverletter*
bragsheet*

*~
*.zip
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz